<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% assign pages_list = site.pages | sort: 'order' %}
      {% for node in pages_list %}
        {% if node.title and node.submenu != 'resources' %}
          <li class="nav-item {% if node.url == page.url %}active{% endif %}">
            <a class="nav-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownResources" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSchemes">
          {% assign resources_list = site.pages | where_exp:"item",
"item.submenu == 'resources'" | sort: 'order' %}
          {% for resource_page in resources_list %}
            <a class="dropdown-item" href="{{ resource_page.url | prepend: site.baseurl }}">{{ resource_page.title }}</a>
          {% endfor %}
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSchemes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Schemes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownSchemes">
          {% assign schemes_list = site.schemes | where_exp:"item",
"item.slug != 'in-house'" | sort: 'title' %}
          {% for scheme in schemes_list %}
            <a class="dropdown-item" href="{{ scheme.url | prepend: site.baseurl }}">{{ scheme.title }}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ site.baseurl }}/schemes/in-house/">In House</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownShops" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shops
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownShops">
          {% assign shops_list = site.shops | sort: 'title' %}
          {% for shop in shops_list %}
            <a class="dropdown-item" href="{{ shop.url | prepend: site.baseurl }}">{{ shop.title }}</a>
          {% endfor %}
        </div>
      </li>

      <li class="nav-item {% if node.url == page.url %}active{% endif %}">
        <a class="nav-link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
      </li>

    </ul>
  </div>
</nav>
