<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      {{ content }}

      {% include footer.html %}
    </div>

  </body>
</html>
