---
layout: default
---

<div class="jumbotron">
  <h1 class="display-4">{{ page.title }}</h1>
  <p class="lead">{{ page.summary }}</p>
  <hr class="my-4">

  {{ content }}

<p>This type of scheme can be used in the following shops:</p>
<ul>
  {% assign shops_list = site.shops | sort: 'title' %}
  {% for shop in shops_list %}
    {% assign scheme_availability = shop.schemes_available[page.slug] %}
    <li>
      <a href="{{ shop.url | prepend: site.baseurl }}">{{ shop.title }}</a>
      {% if scheme_availability["support"] == true %}
        <span class="badge badge-success">YES</span>
      {% elsif scheme_availability["support"] == false %}
        <span class="badge badge-danger">NO</span>
      {% elsif scheme_availability["support"] == 'other' %}
        <span class="badge badge-warning">INFO</span>
        {% if scheme_availability["details"] %}
          {{ scheme_availability["details"] }}
        {% endif %}
      {% else %}
        <span class="badge badge-default">?</span>
      {% endif %}
      {% if scheme_availability["src"] %}
        <a href="{{ scheme_availability['src'] }}">&rarr;</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

  {% if page.website %}
    <p>
      Visit <a href="{{ page.website }}">{{ page.title }} website</a>
      {% if page.find_retailers_url %}
        or <a href="{{ page.find_retailers_url }}">find a supported retailer</a>.
      {% endif %}
    </p>
  {% endif %}

  {% if page.trustpilot %}
    <a class="btn btn-primary btn-lg" href="{{ page.trustpilot["url"] }}" role="button">
      {% for i in (1..page.trustpilot["stars"]) %}⭐️ {% endfor %} TrustPilot
    </a>
  {% endif %}
</div>

