---
layout: page
---

{{ content }}

<h3>Available Schemes</h3>

You can buy a bike from {{ page.title }} through any of these schemes:

{% assign schemes_list = site.schemes | sort: 'title' %}

<ul>
  {% for scheme in schemes_list %}
    {% assign scheme_availability = page.schemes_available[scheme.slug] %}
    <li>
      <a href="{{ scheme.url | prepend: site.baseurl }}">{{ scheme.title }}</a>
      {% if scheme_availability["support"] == true %}
        <span class="badge badge-success">YES</span>
      {% elsif scheme_availability["support"] == false %}
        <span class="badge badge-danger">NO</span>
      {% elsif scheme_availability["support"] == 'other' %}
        <span class="badge badge-warning">INFO</span>
        {% if scheme_availability["details"] %}
          ({{ scheme_availability["details"] }})
        {% endif %}
      {% else %}
        <span class="badge badge-default">UNKNOWN</span>
      {% endif %}
      {% if scheme_availability["src"] %}
        <a href="{{ scheme_availability['src'] }}">&rarr;</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

<p>
  View
  <a href="{{ site.baseurl }}{% link availability.md %}">all data on one page</a>.
</p>

{% if page.website %}
  <p>View <a href="{{ page.website }}">{{ page.title }}</a> website.</p>
{% endif %}

